html,
body {
  background-image: url("../image/image.png");
  margin: 0px;
  width: 100%;
  height: 100%;
}

#header {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: x-large;
  padding: 10px;
}

#header .logo {
  font-size: 25px;
  /* margin: 0 0; */
  margin: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}

#header .logo a {
  font-size: 25px;
  /* margin: 0 0; */
  margin: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  color: white;
  text-decoration: none;
}

#header .website-menu {
  float: right;
}

#header .website-menu a {
  color: white;
  margin: 10px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

#header .website-menu a:hover {
  color: chartreuse;
}

#container {
  display: grid;
  grid-template-columns: 20% auto;
  /* width: 100%; */
  margin: auto;
  padding: 0 20px;
  margin-top: 10px;
  min-height: 90%;
  position: relative;
}

#container .sidebar {
  /* width: 20%; */
  margin-right: 20px;
  float: left;
}

#container .sidebar #sidebar-menu {
  /* border-radius: 10px; */
  padding: 20px 20px;
  margin-top: 0;
  margin-bottom: 20px;
  float: left;
  background-color: rgb(7, 94, 10);
  min-height: 94%;
}

#container .sidebar #sidebar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container .sidebar #sidebar-menu li {
  margin: 0;
  padding: 10px;
  margin-right: 5px;
  list-style: none;
  float: left;
}

#container .sidebar #sidebar-menu a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

#container .sidebar #sidebar-menu a:hover {
  color: chartreuse;
}

#container .sidebar #sidebar-menu .fa {
  color: white;
  margin-right: 5px;
}

#container #konten {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

#container #konten h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  text-align: center;
}

#container #konten img {
  width: 100%;
}

#container #konten p {
  text-align: justify;
  margin: 10px;
}

#container #konten li {
  list-style-type: decimal;
  font-weight: bold;
  margin-top: 10px;
}

#container #konten ol p {
  margin: 0;
}

#container .right {
  width: 15%;
  padding: 0;
  margin-left: 20px;
  float: left;
}
#container #about img {
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100em;
  border-style: ridge;
}

#container .sidebar #sidebar-menu #clock {
  font-weight: bolder;
  margin-left: 15px;
  color: aliceblue;
}

.btn-update {
  background-color: rgb(218, 241, 6);
  color: black;
  border: 2px solid #4caf50; /* Green */
}

.btn:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.fa-facebook-square {
  color: darkblue;
}

.fa-twitter-square {
  color: rgb(57, 57, 245);
}

.fa-instagram {
  color: red;
}

.fa-whatsapp {
  color: green;
}

#footer {
  background-color: black;
  font-size: 15px;
  color: white;
  text-align: center;
  float: bottom;
  height: 50px;
  line-height: 50px;
  /* position: absolute; */
  bottom: 0px;
}

#footer p a {
  text-decoration: none;
  font-size: 15px;
  font-family: monospace;
  color: white;
  /* padding: 15px; */
}
#footer a:hover {
  color: green;
}

/* HP */
/* @media (max-width: 600px) {
  .website-menu {
    display: none;
  }

  .menu {
    display: block;
    float: right;
    padding-right: 20px;
  }

  #container {
    display: grid;
    margin: auto;
    padding: 0 20px;
  }

  #container .sidebar {
    display: none;
  }

  #container #konten {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }

  #container .right {
    width: auto;
    margin: 0;
    padding: 0;
  }

  #container .right #about {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }

  #container .right #follow {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }
} */
div.pagination {
  display: flex;
  width: 500px;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10px;
}

div.pagination span {
  padding: 5px 10px;
  /* border: 1px solid grey; */
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

div.pagination span:last-child {
  margin-right: 0;
}

div.pagination span.active {
  color: blue;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 50px !important;
  height: 50px !important;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}